* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background: linear-gradient(to bottom, #a3284d, #d46c8b);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 20px;
    color: #dadee0;
}


h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    color: #e35555;
    margin-bottom: 10px;
    text-shadow: 1px 1px 4px rgb(225, 225, 225);
}


p {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

#frase {
    background: rgba(255, 255, 255, 0.8);
    border-left: 5px solid #4a90e2;
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    font-size: 1.8rem;
    color: #15518d;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    margin-top: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

/* Botões */
button {
    background: #ff4c55;
    color: #ffffff;
    border: none;
    padding: 14px 28px;
    font-size: 1rem;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: #f36775;
    transform: scale(1.05);
}

button:disabled {
    background: #bcdffb;
    cursor: not-allowed;
    opacity: 0.7;
}

/* Contador de frases e poemas */
#contadorMensagem {
    margin-top: 20px;
    background: #ecf9ff;
    padding: 12px 20px;
    border-radius: 20px;
    font-weight: bold;
    color: #858b92;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.05);
}

/* Seletores */
select {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid #4a90e2;
    background: #ffffff;
    color: #2c3e50;
    margin: 10px;
    outline: none;
    transition: border 0.3s ease;
}

select:focus {
    border-color: #357ab8;
}

/* Rodapé */
footer {
    margin-top: 50px;
    font-size: 0.9rem;
    color: #86c3db;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

/* Cronômetro circular */
#cronometro {
    margin-top: 40px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ffffff;
    border: 6px solid #e24a9b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.1);
}
